/* Loading animation */
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

.loading .dot {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    margin: 0 5px;
    animation: bounce 1.5s infinite ease-in-out;
}

.loading .dot:nth-child(2) {
    animation-delay: 0.3s;
}

.loading .dot:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}

/* Snowflakes */
.snowflake {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
    pointer-events: none;
}

/* General styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000; /* Black background */
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.profile-card {
    background-color: rgba(0, 0, 0, 0.7); /* Black background */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5), 0 0 30px rgba(255, 255, 255, 0.7);
    width: 500px;
    height: 300px;
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
    transform-style: preserve-3d;
    margin: auto;
}

.profile-card h1 {
    font-size: 30px;
    margin: 12px 0;
    color: #ffffff;
    text-shadow: 0 0 8px #e6eeee, 0 0 16px #e6eeee;
    letter-spacing: 1px;
    transition: text-shadow 0.3s;
}

/* Styling for typed text */
#typed-text {
    font-size: 18px;
    color: #dcdcdc;
    font-weight: normal;
    letter-spacing: 0.5px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid; /* Cursor effect */
    width: 20ch;
    animation: typing 4s steps(20, end), blink 0.75s step-end infinite;
}

@keyframes typing {
    from { width: 0; }
    to { width: 20ch; }
}

@keyframes blink {
    from, to { border-color: transparent; }
    50% { border-color: white; }
}

.profile-card img.profile-pic {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-bottom: 12px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}
